APP_ENV=development
APP_PORT=8081

DATABASE_PORT=5432
DATABASE_HOST=notification_db
DATABASE_USER=postgres
DATABASE_PASSWORD=lokal
DATABASE_NAME=notification_service
DATABASE_MAX_OPEN_CONNECTION=20
DATABASE_MAX_IDLE_CONNECTION=10

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_WORKER_POOL_SIZE=10
RABBITMQ_PREFETCH_COUNT=10
RABBITMQ_MAX_RETRIES=3
RABBITMQ_PROCESS_TIMEOUT_SEC=30

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET_KEY=secret

EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_USERNAME=4c6278a05932d1
EMAIL_PASSWORD=3cf28be05e2afe
EMAIL_PORT=587
EMAIL_IS_TLS=true
EMAIL_SENDING=admin@gmail.com