APP_ENV="development"
APP_PORT="8082"

DATABASE_PORT=5432
DATABASE_HOST=localhost
DATABASE_USER=postgres
DATABASE_PASSWORD=lokal
DATABASE_NAME=sayur-product-service
DATABASE_MAX_OPEN_CONNECTION=100
DATABASE_MAX_IDLE_CONNECTION=20

JWT_SECRET_KEY="secret"

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

REDIS_HOST=localhost
REDIS_PORT="6379"

SUPABASE_STORAGE_URL=""
SUPABASE_STORAGE_KEY=""
SUPABASE_STORAGE_BUCKET=""

ELASTICSEARCH_HOST=http://localhost:9200

PRODUCT_UPDATE_STOCK_NAME="product-update-stock"
PRODUCT_PUBLISH_NAME="product-publish"
PRODUCT_DELETE="product-delete"

GATEWAY_SECRET_KEY="secret"