APP_ENV=development
APP_PORT=8083
SERVER_TIMEOUT=10

PRODUCT_SERVICE_URL=http://product-service:8082
USER_SERVICE_URL=http://user-service:8090

DATABASE_PORT=5432
DATABASE_HOST=order_db
DATABASE_USER=postgres
DATABASE_PASSWORD=lokal
DATABASE_NAME=order_service  

DATABASE_MAX_OPEN_CONNECTION=10
DATABASE_MAX_IDLE_CONNECTION=20

JWT_SECRET_KEY=secret

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

REDIS_HOST=redis
REDIS_PORT=6379

LATITUDE_REF=-6.2403052
LONGITUDE_REF=106.7595899

MAX_DISTANCE=5

PRODUCT_UPDATE_STOCK_NAME=product-update-stock
ORDER_PUBLISH_NAME=order-publish
EMAIL_UPDATE_STATUS_NAME=email-update-status-order
PUBLISHER_DELETE_ORDER=delete-order
PUBLISHER_PAYMENT_SUCCESS=payment-success
PUBLISHER_UPDATE_STATUS=update-status-order

ELASTICSEARCH_HOST=http://elasticsearch:9200

GATEWAY_SECRET_KEY=secret
REQUEST_API_GATEWAY="false"