APP_ENV=development
APP_PORT=8084
SERVER_TIMEOUT=10

# ======================
# SERVICE TO SERVICE
# ======================
PRODUCT_SERVICE_URL=http://product-service:8082
USER_SERVICE_URL=http://user-service:8090
ORDER_SERVICE_URL=http://order-service:8083

# ======================
# DATABASE (POSTGRES)
# ======================
DATABASE_HOST=payment_db
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=lokal
DATABASE_NAME=payment_service
DATABASE_MAX_OPEN_CONNECTION=10
DATABASE_MAX_IDLE_CONNECTION=20

# ======================
# AUTH
# ======================
JWT_SECRET_KEY=secret

# ======================
# RABBITMQ
# ======================
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
# Publisher
RABBITMQ_PUBLISHER_POOL_SIZE=10
RABBITMQ_PUBLISHER_MAX_RETRIES=3
RABBITMQ_PUBLISH_TIMEOUT_SEC=5
# Consumer
RABBITMQ_WORKER_POOL_SIZE=10
RABBITMQ_PREFETCH_COUNT=10
RABBITMQ_MAX_RETRIES=3
RABBITMQ_PROCESS_TIMEOUT_SEC=30

# ======================
# REDIS
# ======================
REDIS_HOST=redis
REDIS_PORT=6379

# ======================
# PAYMENT GATEWAY (MIDTRANS)
# ======================
MIDTRANS_SERVER_KEY=
MIDTRANS_ENVIRONMENT=

# ======================
# EVENT / MESSAGE
# ======================
PUBLISHER_PAYMENT_SUCCESS=payment-success

# ======================
# INTERNAL GATEWAY
# ======================
GATEWAY_SECRET_KEY=secret
REQUEST_API_GATEWAY="false"
