APP_ENV="development"
APP_PORT="8090"

DATABASE_PORT=5432
DATABASE_HOST=localhost
DATABASE_USER=postgres
DATABASE_PASSWORD=lokal
DATABASE_NAME=user_service
DATABASE_MAX_OPEN_CONNECTION=10
DATABASE_MAX_IDLE_CONNECTION=20

JWT_SECRET_KEY="secret"
JWT_ISSUER="secret"

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

REDIS_HOST=localhost
REDIS_PORT="6379"

URL_FORGOT_PASSWORD="http://localhost:8090"
URL_FRONT_FE="http://localhost:3000"

SUPABASE_STORAGE_URL=""
SUPABASE_STORAGE_KEY=""
SUPABASE_STORAGE_BUCKET=""

GATEWAY_SECRET_KEY="secret"

